# Lectern integration
public net.minecraft.world.level.block.entity.LecternBlockEntity pageCount
public net.minecraft.world.level.block.entity.LecternBlockEntity bookAccess
public net.minecraft.world.level.block.entity.LecternBlockEntity book
public net.minecraft.world.level.block.entity.LecternBlockEntity page
public net.minecraft.world.level.block.LecternBlock placeBook(Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/item/ItemStack;)V
# Beacon integration
public net.minecraft.world.level.block.entity.BeaconBlockEntity levels
public net.minecraft.world.level.block.entity.BeaconBlockEntity primaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity secondaryPower
# Data generation
public net.minecraft.data.models.BlockModelGenerators blockStateOutput
public net.minecraft.data.models.BlockModelGenerators modelOutput
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.ItemModelGenerators output
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/data/models/model/ModelTemplate;)V
public net.minecraft.data.models.model.TextureSlot create(Ljava/lang/String;)Lnet/minecraft/data/models/model/TextureSlot;
# Display entities logic
public net.minecraft.world.entity.Display$ItemDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.Display$TextDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.Display$BlockDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
# Jukebox integration
public net.minecraft.world.level.block.entity.JukeboxBlockEntity jukeboxSongPlayer
