# Lectern integration
public net.minecraft.world.level.block.entity.LecternBlockEntity m_59532_(I)V # setPage
public net.minecraft.world.level.block.entity.LecternBlockEntity f_59529_ # pageCount
public net.minecraft.world.level.block.entity.LecternBlockEntity f_59525_ # bookAccess
public net.minecraft.world.level.block.LecternBlock m_269116_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/item/ItemStack;)V # placeBook
# Beacon integration
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58650_ # levels
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58652_ # primaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58653_ # secondaryPower
# Jukebox intergation
public net.minecraft.world.level.block.entity.JukeboxBlockEntity m_271687_()V # startPlaying
public net.minecraft.world.level.block.entity.JukeboxBlockEntity m_272088_()V # stopPlaying
